/* #root {
  margin: 0 auto;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    black 0%,
    black 10%,
    black 10%,
    black 100%
  );
  flex-direction: row;
}

.chat-container {
  max-width: 50vw;
  max-height: 650px;
  border-radius: 5px;
  position: relative;
  left: 220px;
  top: 30px;
}

.chat {
  width: 400px;
  height: 550px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-top: 5px;
  border-radius: 10px;
}

.input-chat-container {
  padding: 5px;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.chat-content {
  padding: 15px;
}

input.input-chat {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
  padding-left: 8px;
  font-size: 16px;
}

.input-chat {
  width: 100%;
  min-height: 25px;
  outline: none;
}

.chat-header {
  background-color: #e79a09;
  border-radius: 5px;
}

.chat-title {
  padding: 15px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
}

.submit-chat {
  padding: 10px;
  max-width: 50px;
  background-color: white;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

.submit-chat:hover {
  max-width: 50px;
  background-color: white;
  cursor: pointer;
  color: black;
  font-size: 18px;
  align-content: center;
  /* background-color: rgb(16, 108, 230); */
}

.header-container {
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.my-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* max-width: 280px; */
}

.my-message {
  padding: 7px;
  width: fit-content;
  max-width: 250px;
  padding-left: 12px;
  word-wrap: break-word;
  background-color: #e79a09;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.another-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* max-width: 280px; */
}

.another-message {
  max-width: 260px;
  padding: 7px 10px;
  width: fit-content;
  word-wrap: break-word;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.client {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.message {
  margin-top: 3px;
  margin-bottom: 0px;
}

.underlines {
  position: relative;
  top: 0;
  left: 0;
  height: 0.15em;
  width: 12.7vw;
  display: block;
}

.underlines .underline {
  position: absolute;
  height: 100%;
  width: 25%;
  content: "";
  background-color: aliceblue;
  display: inline-block;
}

.underlines .underline:nth-child(4) {
  background-color: #f7f45c;
}
.underlines .underline:nth-child(3) {
  background-color: #dcc22c;
}
.underlines .underline:nth-child(2) {
  background-color: #e79a09;
}
.underlines .underline:nth-child(1) {
  background-color: #e46429;
}
