/* #root {
  margin: 0 auto;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    black 0%,
    black 10%,
    black 10%,
    black 100%
  );
  flex-direction: row;
}

.chat-container {
  max-width: 450px;
  max-height: 550px;
  border-radius: 10px;
  position: relative;
  left: 800px;
}

.chat {
  /* padding: 15px; */
  width: 360px;
  height: 450px;
  margin-top: 50px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  border-radius: 10px;
}

.chat::-webkit-scrollbar {
  display: none;
  /* Chrome */
}

.input-chat-container {
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.chat-content {
  padding: 15px;
}

input.input-chat {
  background-color: #e5e5ea;
  border: none;
  border-radius: 10px;
  color: black;
}

.input-chat {
  width: 100%;
  min-height: 25px;
  outline: none;
}

.chat-header {
  background-color: #e79a09;
}

.chat-title {
  padding: 15px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
}

.submit-chat {
  max-width: 50px;
  /* background-color: #248bf5; */
  cursor: pointer;
  margin-left: 5px;
  color: white;
}

.submit-chat:hover {
  width: 50px;
  background-color: rgb(16, 108, 230);
}

.header-container {
  margin-left: 100px;
  margin-top: 10px;
}

.my-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.my-message {
  padding: 7px;
  width: fit-content;
  min-width: 100px;
  padding-left: 12px;
  /* max-width: 300px; */
  background-color: #e79a09;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.another-message-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.another-message {
  max-width: 300px;
  padding: 7px;
  width: fit-content;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.client {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.message {
  margin-top: 3px;
  margin-bottom: 0px;
}
